__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/

.git
.gitignore
.dockerignore
docker-compose*.yml

models/
node_modules/
backend_deps/
frontend_modules/

pip-log.txt
README.md
.vscode/
.idea/
