fastapi
uvicorn[standard]
python-multipart
PyJWT

sqlalchemy
alembic
asyncpg
psycopg2-binary

pgvector
onnxruntime
numpy
opencv-python-headless
kagglehub
torch
onnxscript
onnx

passlib[bcrypt]
python-jose[cryptography]

aiomqtt
pydantic-settings
websockets